In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('/Users/gokhanduzel/Documents/CSI4142/CSI4142/dataset.csv')

In [3]:
df

,company,age,market,year,month,day,hour,minute,volume,high,...,AVERAGE_SMA_50_HIGHLOW,EMA_50_HIGHLOW,MACD_50_HIGHLOW,AVERAGE_SMA_50_VOLUME,EMA_50_VOLUME,MACD_50_VOLUME,DAYS_UNTIL_END_OF_MONTH,DAYS_UNTIL_END_OF_TRIMESTER,DINAMIC3,TARGET
0,CNDT,0.0,NASDAQ,2021,12,10,15,30,792397,5.41,...,0.2,230000.0,-30000.0,1173839.5,1.313408e+09,-2.066295e+09,18.0,18.0,0.5781,NaN
1,CNDT,1.0,NASDAQ,2021,12,9,15,30,1134639,5.46,...,0.2,230000.0,-20000.0,1205795.2,-1.090610e+09,-4.850086e+07,18.0,18.0,0.8089,NaN
2,CNDT,2.0,NASDAQ,2021,12,8,15,30,939646,5.47,...,0.2,230000.0,-30000.0,1201770.2,-8.206629e+08,-1.021058e+09,18.0,18.0,0.6823,NaN
3,CNDT,3.0,NASDAQ,2021,12,7,15,30,1301257,5.51,...,0.2,230000.0,-30000.0,1197837.6,-4.582356e+08,1.865824e+09,18.0,18.0,0.9432,NaN
4,CNDT,4.0,NASDAQ,2021,12,6,15,30,1090706,5365.00,...,0.2,230000.0,-30000.0,1189088.3,-6.176610e+08,-1.852724e+09,18.0,18.0,0.7731,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98187,GRTS,247.0,NASDAQ,2020,12,17,15,30,254495,3.13,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.0,1.0000,NaN
98188,GRTS,248.0,NASDAQ,2020,12,16,15,30,224254,3.13,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.0,1.0000,NaN
98189,GRTS,249.0,NASDAQ,2020,12,15,15,30,197952,3.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98190,GRTS,250.0,NASDAQ,2020,12,14,15,30,261543,3.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98191,GRTS,251.0,NASDAQ,2020,12,11,15,30,245831,3.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

company                            0
age                                0
market                             0
year                               0
month                              0
                               ...
MACD_50_VOLUME                 19500
DAYS_UNTIL_END_OF_MONTH         1170
DAYS_UNTIL_END_OF_TRIMESTER     1170
DINAMIC3                        1170
TARGET                         15990
Length: 77, dtype: int64

In [ ]:
# We drop the rows with null values to clean the data.
# We drop the duplicates to create a better and healthier data set.
df = df.dropna()
df.drop_duplicates(inplace=True)
df

In [19]:
df['price_range'] = df['high'] - df['low']
df['daily_return'] = df.groupby('company')['close'].pct_change()

In [21]:
aggregation_functions = {
        'volume': 'mean',
        'price_range': 'mean',
        'daily_return': 'mean',
        'high': 'max',
        'low': 'min'
    }
aggregated_df = df.groupby('company').agg(aggregation_functions)
aggregated_df

               volume  price_range  daily_return      high       low
company
CNDT     1.329771e+06    -7.893457     22.042265    8325.0    5.3000
CNET     1.072504e+06    13.838693     10.734626    2665.0    1.1257
CNFR     7.316339e+04    48.254109     45.709257    3963.0    2.5000
CNOB     1.396002e+05  -978.631202     -0.001966   32605.0   22.8400
CNSP     3.167491e+05    34.188572     11.317826    2058.0    1.2200
...               ...          ...           ...       ...       ...
GRIL     1.051394e+06    21.629778     17.184217    2653.0    0.9800
GRIN     1.287256e+05    76.841887     11.042279   17695.0    5.6900
GRMN     6.640760e+05  7708.221497      5.532302  178805.0  117.7407
GROW     2.143999e+05     2.583684     10.643991    6865.0    5.1800
GRTS     8.064256e+05   255.097155      5.598497   15995.0    6.2300

[390 rows x 5 columns]

In [22]:
print("Aggregated Data Summary")
print(aggregated_df.describe())

Aggregated Data Summary
             volume    price_range  daily_return          high          low
count  3.900000e+02     390.000000    390.000000  3.900000e+02   390.000000
mean   1.144711e+06     565.867902     10.490213  5.985393e+04    40.240200
std    2.676480e+06    5578.313777     18.826803  2.174697e+05   151.887289
min    1.413740e+03  -11230.704524     -0.004080  9.320000e+02     0.433100
25%    7.561900e+04     -91.501433      0.000756  8.574750e+03     4.615000
50%    2.944021e+05      72.615673      5.415515  2.086000e+04    13.475050
75%    9.967647e+05     521.939996     11.206584  4.845500e+04    31.370000
max    2.754297e+07  104645.522669    167.857574  2.925075e+06  2010.000000

In [24]:
conn = sqlite3.connect("stock_data_mart.db")
df.to_sql("stock_data", conn, if_exists="replace", index=False)

70502

In [25]:
conn.commit()
conn.close()